<!-- Cabeçalho principal -->
<%- include('partials/header') %>

<!-- Conteudo do index -->

<main>
<div class="text-center mt-5 logo-fundo">
    <img src="https://s3.eu-west-1.amazonaws.com/blog.mixtapemadness.com/wp-content/uploads/20220510164828/8D82262C-923B-4B1A-B572-11C16919316E.png" alt="">
</div>
</main>
<!-- rodape de todas as pagimas -->
<%- include('partials/footer') %>
