<!-- Cabeçalho principal -->
<%- include('partials/header') %>

<!-- Conteudo do index -->
<main>
<h1>CADASTRO USUARIO</h1>
</main>
<!-- rodape de todas as pagimas -->
<%- include('partials/footer') %>